/* Coded by Chi */

* {
   font-family: -apple-system, BlinkMacSystemFont, sans-serif;
 }
 body{
   background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
   url('./media/vacation.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left;
   background-attachment: fixed;
   padding-top: 80px;
 }
 .navbar-header.col {
 padding: 0 !important;
 }	
 .navbar {		
   background: #fff;
   padding: 15px 50px 15px 40px;
   border-bottom: 1px solid #d6d6d6;
   box-shadow: 0 0 4px rgba(0,0,0,.1);
   margin-bottom: 0 !important;
 }
 .nav-link img {
   border-radius: 50%;
   width: 36px;
   height: 36px;
   margin: -8px 0;
   float: left;
   margin-right: 10px;
 }
 .navbar .navbar-brand {
   color: #555;
   padding-left: 0;
   font-size: 30px;
   padding-right: 25px;
 }
 .navbar .navbar-brand b {
   font-weight: bold;
   color: #eb5844;
 }
 .navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
   color: #eb5844;
 }
 .navbar ul.nav li a.facebook:hover {
   color: #fff;
   border-radius:100%;
   background-color:#3b5998;
 }
.navbar ul.nav li a.twitter:hover {
  color: #fff;
  border-radius:100%;
  background-color:#00aced;
}

.navbar ul.nav li a.google:hover {
  color: #fff;
  border-radius:100%;
  background-color:#ea4c89;
}

.navbar ul.nav li a.linkedin:hover {
  color: #fff;
  border-radius:100%;
  background-color:#007bb6;
}
.navbar-right li a {
  font-size:10px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
 .navbar ul.nav li.active a, .navbar ul.nav li.active a:hover, .navbar ul.nav li.active a:focus {
   color: #aaa !important;
   background: transparent !important;
   border: 1px solid #eb5844;
 }
 .navbar .nav-item a {
   font-size: 16px;
 }
 .search-box i {
   color: #a0a5b1;
   font-size: 25px;
 }
 .navbar .nav-item i {
   font-size: 18px;
 }
 .navbar .dropdown-item i {
   font-size: 16px;
   min-width: 22px;
 }
 .navbar .nav-item.open > a {
   background: none !important;
 }
 .navbar .dropdown-menu {
   border-radius: 1px;
   border-color: #e5e5e5;
   box-shadow: 0 2px 8px rgba(0,0,0,.05);
 }
 .navbar .dropdown-menu li a {
   color: #777;
   padding: 8px 20px;
   line-height: normal;
 }
 .navbar .navbar-form {
   margin-right: 0;
   margin-left: 0;
   border: 0;
 }